.popup__button {
  width: 100%;
  min-height: 50px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 2px;
  transition: background-color 1.3s ease;
}

.popup__button:disabled, .popup__button[disabled]{
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: #fff;
  color: rgba(0, 0, 0, .2);
  cursor: default;
}

.popup__button:hover,
.popup__button:focus {
  background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 619px) {
  .popup__button {
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
