.popup__input-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px 0;
  border: none;
  padding: 0;
  margin: 0 0 48px 0;
}

@media screen and (max-width: 619px) {
  .popup__input-container {
    gap: 23px 0;
    margin: 0 0 44.6px 0;
  }
}
