.profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 30px 1fr 30px -webkit-min-content;
  -ms-grid-columns: min-content 30px 1fr 30px min-content;
  grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
  grid-template-columns: min-content 1fr min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 30px;
}

@media screen and (max-width: 619px ) {
  .profile {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 0;
  }
}
