.popup__error {
  visibility: hidden;
  min-height: 30px;
  vertical-align: middle;
  color: rgba(255, 0, 0, 1);
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  padding: 5px 0 0 0;
  margin: 0;
}
