.card__delete-button {
  display: none;
  position: absolute;
  top: 17px;
  right: 15px;
  min-width: 18px;
  min-height: 19px;
  background-image: url(../../../images/icons/icon-bin.svg);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  z-index: 2;
}
