.edit-button {
  box-sizing: border-box;
  display: block;
  min-width: 24px;
  height: 24px;
  background-image: url(../../images/icons/icon-edit.svg);
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid #fff;
}

@media screen and (max-width: 619px ) {
  .edit-button {
    min-width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}
