.popup__button-close {
  display: block;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/icons/icon-close.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

@media screen and (max-width: 619px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
