.card__image {
  display: block;
  width: 100%;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
