.card__like-button_active {
  background-image: url(../../../../images/icons/icon-like-fill.svg);
  -webkit-transition: background-image 1.2s ease, opacity 1.2s ease;
  -o-transition: background-image 1.2s ease, opacity 1.2s ease;
  transition: background-image 1.2s ease, opacity 1.2s ease;
}

.card__like-button_active:hover {
  opacity: .5;
}
